<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>
    <h1>Upload your file to run AMRFinderPlus</h1>
    <form id="upload-form" action="/analyze" method="POST" enctype="multipart/form-data">
      <label for="file">Select an assembled nucleotide file:</label> 
      <input type="file" name="nuc_file"> <br>
      <!--
      <label for="file">Select an assembled protein file:</label> 
      <input type="file" name="prot_file"> <br>
      <label for="file">Select a GFF file:</label> 
      <input type="file" name="gff_file"> <br>
      -->
      <label for="organism">Organism group (-o option):</label>

      <select id="organism" name="organism">
        {{ organism_select_options }}
      </select>

      </select>
      <label for="parameters">Parameters (optional):</label> <br>
      <input type="text" name="parameters" id="parameters"> <br><br>
      <input type="submit" value="Run AMRFinderPlus">
    </form>
    <div id="results">
    </div>

  <script>
    const form = document.getElementById('upload-form');
    const resultsDiv = document.getElementById('results');

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const file = form.elements['nuc_file'].files[0];
      const parameters = form.elements['parameters'].value;

      const formData = new FormData();
      formData.append('nuc_file', file);
      formData.append('parameters', parameters);

      // Show a "waiting" message
      resultsDiv.innerHTML = '<p>Analyzing with AMRFinderPlus... Please wait.</p>';

      fetch('/analyze', {
        method: 'POST',
        body: formData
      })
      .then(response => {
        if (response.headers.get('Content-Type')?.startsWith('application/json')) {
          return response.json();
        } else {
          return response.text();
        }
      })
      .then(data => {
     // Display the results
     if (typeof data === 'string') {
        resultsDiv.innerHTML = `<p>Result: ${data}</p>`;
    } else {
        resultsDiv.innerHTML = `<p>Result: ${data.results}</p>`;
    }
  })
  .catch(error => {
    console.error('Error:', error);
    resultsDiv.innerHTML = '<p>An error occurred.</p>';
  });
});
 </script>

  </body>
</html>
